@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; //Otsikko pysyy aina ylhäällä
  z-index: 2; //Kuinka lähellä "minua" indeksi on, mitä isompi, sitä lähempänä
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);
  //Tällä saatiin copyright pysymään alhaalla: korkeus ei ole 100vh, vaan se - copyright

  .icons {
    //Vaikuttaa vain ikoneihin mainin sisällä
    margin-top: 1rem;
    a {
      //Tehdään samanlainen a kuin ikoneissa mainissa
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut(); //lisää ohjelman easeOut
      }
    }
  }

  &#home {
    //Vaikuttaa mainin sisällä kaikkiin home:hin
    overflow: hidden;
    h1 {
      margin-top: 20vh; //vh samalla tavalla kokoyksikkö kuin rem
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  //visual representation
  grid-template-areas:
    "bioimg job1 job2"
    "bio job3 job4";
  grid-template-areas: repeat(3, 1fr);

  .bio.image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
    //margin-right: 20vh;
  }
  .job-3 {
    grid-area: job3;
  }
  .job-4 {
    grid-area: job4;
  }

  .job {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.work-history {
  display: grid;
  grid-gap: 30px;
  //visual representation
  grid-template-areas:
    "job1 job2 job3"
    "bio bio bio";
  grid-template-areas: repeat(3, 1fr);
  margin-top: 10vh;

  .bio.image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    font-size: 1.2rem;
    h3 {
      color: $secondary-color;
    }
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
}

//Contact page
.boxes {
  display: flex;
  flex-wrap: wrap; //Kun tila pienenee, teksti menee seuraavalle riville
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
